/* food start */


.single-food {
  width: 100%;
  max-width: 370px;
  margin: 18px auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.single-food:hover {
  transform: scale(1.007);
  cursor: pointer;
}

.single-food img {
  width: 100%;
  height: auto;
}

.title-price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.title-price > h3 {
  font-size: 16px;
}

.title-price > p {
  background-color: #ff9500;
  padding: 3px 7px;
  color: white;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.food-desc {
  padding: 0 20px;
  font-size: 12px;
  font-weight: 300;
}

