@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #deeff2;
  font-family: 'Poppins', sans-serif;
}

.all-container {
  width: 95%;
  margin: 0 auto;
}
.foods-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
  max-width: 1240px;
  margin: 0 auto;
}
/* header start  */
.title > h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  color: #d47d03;
}

.title > div {
  height: 3px;
  width: 70px;
  margin: 15px auto 20px;
  background-color: #ff9500;
}

/* Responsive design */
@media (max-width: 1200px) {
  .foods-container {
    max-width: 960px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .foods-container {
    max-width: 440px;
    grid-template-columns: 1fr;
  }

  .single-food {
    max-width: 100%;
    height: auto;
    padding-bottom: 36px;
  }
}
/* food end */